<h2><%= "Welcome, #{current_user.username.capitalize}! Session ID: #{session[:user_id].to_s}"%></h2>

<% if current_user == @user %>
<h2> Current user is the same as @user</h2>
<% else %>
<h2> Current user is not the same as @user</h2>
<% end %>

<h2><%= @user.username %></h2>
<% if current_user == @user %>
  <figure>
    <h5><a href="/profile">New Profile Image</a></h5>
    <h5><a href="/bio">Edit Bio</a></h5>
    <img id="profile_pic" style="max-width:200px;" src="<%= @user.image_url %>" alt="profile picture">
    <h2><%= "\"#{@user.bio}\""%></h2>
  </figure>
<% else %>
<figure>
    <img id="profile_pic" style="max-width:200px;" src="<%= @user.image_url %>" alt="profile picture">
    <h2><%= "\"#{@user.bio}\""%></h2>
  </figure>
<% end %>

<h2>Inventory</h2>
<% @user.items.each do |item| %>
  <figure>
    <img style="max-width:200px;" src="<%= item.image_url %>" alt="item picture">
  </figure>
  <h2><%= item.name %> | <%= item.description %> | <%= item.weight %> grams </h2>

<% end %>
