<h2>Edit Your Pack</h2>
<form action="/packs/<%= @pack.id %>" method="POST">
<input type="hidden" name="_method" value="PATCH">
<input type="text" name="trip_name" placeholder="trip name:" value="<%= @pack.trip_name %>"><br>
<input type="text" name="length" placeholder="length in days:" value="<%= @pack.length %>"><br>
<input type="text" name="weather" placeholder="weather:" value="<%= @pack.weather %>"><br>
<input type="text" name="image_url" placeholder="image_url" value="<%= @pack.image_url %>"><br>
<textarea style="width: 100%; font-size: 20px;" name="blurb" placeholder="Write your blurb here..." id="" rows="10"><%= @pack.blurb %></textarea><br>

<h3>Edit Your Items</h3><br>

  <% @pack.user.items.each_with_index do |item, index| %>

    <div class="container">
      <div class="cell cell-1"><input type="checkbox" name="pack[item_ids][]" id="<%= item.id %>" value="<%= item.id %>" <%= 'checked' if @pack.items.include?(item) %>></div>
      <div class="cell cell-2"><label for="<%= item.id %>"><%= item.name %></label></div>
      <div class="cell cell-3"><label for="quantity">How Many?:</label></div>
      <div class="cell cell-4"><input type="number" name="quantity[items][]" id="quantity" value="<%= @quantity_array[index] %>" min="0" max="100"></div>
    </div>

    <h2></h2>

  <% end %><br>

<input type="submit" value="Submit Changes">
</form>
