<% if current_user == @item.user %>

  <h2><a href="/users/<%= @item.user.slug %>">Visit Your Profile Page!</a></h2>
  <h2>Your <%= @item.name %><a href="/items/<%= @item.id %>/edit">Edit Item?</a></h2>

  <% if @item.image_url %>
  <img src="<%= @item.image_url %>" alt=""><br>
  <% end %>

  <h3>Item: <%= @item.name %></h3>
  <h3>Description: <%= @item.description %></h3>
  <h3>Weight: <%= @item.weight %> grams</h3><br>
  <h2></h2>

  <form action="/items/<%= @item.id %>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input style="max-width: 100px; font-size: 16px;" type="submit" value="Delete Item?">
  </form>

<% else %>

  <h2><a href="/users/<%= @item.user.slug %>">Visit <%= @item.user.slug %>'s Profile Page!</a></h2>
  <h2><%= @item.user.username %>'s <%= @item.name %></h2>

  <% if @item.image_url %>
  <img src="<%= @item.image_url %>" alt=""><br>
  <% end %>

  <h3>Item: <%= @item.name %></h3>
  <h3>Description: <%= @item.description %></h3>
  <h3>Weight: <%= @item.weight %> grams</h3>
  <h2></h2>

<% end %>
